* {
  margin: 0;
  padding: 0;

}

.webgl {
  background-image: linear-gradient(black, grey);
  position: fixed;
  top: 0;
  left: 0;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1000 !important;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

html {
  background: #1e1a20;
}

body {
  margin: 0;
}

.footerbuttons {
  z-index: 1100 !important;
  position: relative;
}

.navbar {
  z-index: 1100 !important;
  position: sticky;
  top: 0;
}

.nav-link {
  font-size: larger;
}

.dataTables_filter input {
  color: white;
  background-color: white;
}

.dataTables_length select {
  color: white;
}

table,
thead,
tbody {
  color: white;
}

.instructions {
  color: white;
  background-color: transparent;
}

@media screen and (min-width: 37.56rem) { /* 601px */
  a.btn.btn-outline-light.btn-lg {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
  }

  h1.display-5.fw-bold {
    font-size: 3.6rem;
  }

  h2.display-5.fw-bold {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2rem;
  }

  a.btn.btn-primary {
    background-color: grey;
    outline-color: grey;
    text-decoration: none;
    border-color: grey;
    padding: 0.5rem 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 1.125rem; /* 18px */
  }

  .nav-link {
    font-size: larger;
  }

  /* About Page */
  .about-page p {
    font-size: 1.13rem; /* 18px */
  }

  .about-page h2 {
    font-size: 2.13rem; /* 34px */
  }

  .about-page h4 {
    font-size: 1.63rem; /* 26px */
  }
}

@media screen and (max-width: 37.50rem) { /* 600px */
  a.btn.btn-outline-light.btn-lg {
    font-size: 2.8rem;
  }

  p {
    font-size: 3.4rem;
  }

  h1.display-5.fw-bold,
  h2.display-5.fw-bold {
    font-size: 6.6rem;
  }

  h4 {
    font-size: 4.6rem;
  }

  ul {
    padding-left: 0rem;
  }

  a.btn.btn-primary {
    background-color: grey;
    outline-color: grey;
    text-decoration: none;
    border-color: grey;
    padding: 0.5rem 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 0.94rem; /* 15px */
  }

  /* About Page */
  .about-page p {
    font-size: 0.88rem; /* 14px */
  }

  .about-page h2, .admin-page h2 {
    font-size: 1.63rem; /* 26px */
  }

  .about-page h4, .admin-page h4 {
    font-size: 1.38rem; /* 22px */
  }

  .footer-text {
    font-size: 0.75rem; /* 12px */
  }

  .changePassword {
    width: 100%;
    font-size: 1rem; /* 16px */
  }

  #changePasswordBtn {
    font-size: 1.13rem; /* 18px */
    width: 10.63rem; /* 170px */
  }
}

.btn.btn-primary {
  height: 3.13rem; /* 50px */
  font-size: 1.38rem; /* 22px */
  background-color: black;
  border-color: rgb(255, 255, 255);
  border-width: 0.13rem; /* 2px */
}

.btn.btn-primary:hover {
  background-color: white;
  color: black;
}

::placeholder {
  color: black;
}