* {
  margin: 0;
  padding: 0;
  
}
.webgl {
  background-image: linear-gradient(black, grey);
  position: fixed;
  top: 0;
  left: 0;
}
.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1000 !important;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
html {
  background: #1e1a20;
}
body {
  margin: 0;
}
.footerbuttons {
  z-index: 1100 !important;
  position: relative;
}
.navbar {
  z-index: 1100 !important;
  position: sticky;
  top: 0;
}
.dataTables_filter input {
  color: white;
  background-color: white;
}
.dataTables_length select {
  color: white;
}
table,
thead,
tbody {
  color: white;
}
.instructions {
  color: white;
  background-color: transparent;
}

@media screen and (min-width: 601px) {
  a.btn.btn-outline-light.btn-lg{
    font-size: 1.8vw;
  }
  p{
    font-size: 1.4vw;
  }
  h1.display-5.fw-bold{
    font-size: 3.6vw;
  }
  h2.display-5.fw-bold{
    font-size: 2.8vw;
  }
  h4{
    font-size: 2vw;
  }

}

@media screen and (max-width: 600px) {
  a.btn.btn-outline-light.btn-lg{
    font-size: 2.8vw;
  }
  p{
    font-size: 3.4vw;
  }
  h1.display-5.fw-bold, h2.display-5.fw-bold{
    font-size: 6.6vw;
  }
  h4{
    font-size: 4.6vw;
  }
  ul{
    padding-left: 0rem;
  }
  a.btn.btn-primary{
    size: 1vw;
  }
}