.container {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bg-darker {
  background-color: #202020;
}


.table-striped>thead>tr>th {
  background-color: white;
  color: #202020;
  font-size: 19px;
}

.transparent-dark {
  background-color: rgba(31, 35, 38, 0.7);
}

.blur-10 {
  backdrop-filter: blur(10px);
}

.table-striped>tbody>tr:nth-of-type(odd)>td {
  background-color: #202020;
  color: white;
}

.table-striped>tbody>tr:nth-of-type(even)>td {
  background-color: transparent;
  color: white;
}

/* @media screen and (max-width=600px) {
  .table.table-striped.text-white{
    max-width: 500px;
  }
} */

.card-body {
  background-color: #202020;
  border-radius: 1rem;
  border-color: white;
}

.btn {
  font-size: 18px;
  font-weight: 450;
  border-width: 2px;
}

.molnames-in-table,
.molformulas-in-table,
.names-in-scenes,
.desc-in-scenes {
  text-decoration: none;
  font-size: 19px;
}

.molnames-in-table:hover,
.names-in-scenes:hover {
  text-decoration: underline rgb(0, 208, 255);
}

.modelname-in-table,
.modelname-in-table:hover,
.modeldesc-in-table,
.modeldesc-in-table:hover {
  text-decoration: none;
  color: white;
  font-size: 19px;
}

.modelfiles-in-table {
  font-size: 19px;
  text-decoration: none
}

.modelfiles-in-table:hover {
  text-decoration: underline rgb(0, 208, 255);
}

.nav-link{
  font-size: larger;
}

.options-column {
  width: 170px;
}

.options-column-scenes {
  width: 208px;
}

@media screen and (max-width:600px) {
  .btn {
    font-size: 13px;
    font-weight: 350;
    border-width: 1.5px;
  }
  
  .molnames-in-table,
  .molformulas-in-table,
  .names-in-scenes,
  .desc-in-scenes {
    text-decoration: none;
    font-size: 15px;
  }
  
  .modelname-in-table,
  .modelname-in-table:hover,
  .modeldesc-in-table,
  .modeldesc-in-table:hover {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  
  .modelfiles-in-table {
    font-size: 15px;
    text-decoration: none
  }
  
  .nav-link{
    font-size: larger;
  }
  
  .options-column {
    max-width: 109px;
  }
  
  .options-column-scenes {
    width: 109px;
  }

  .footer-text {
    font-size: 12px;
  }
}