.container {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bg-darker {
  background-color: #202020;
}


.table-striped>thead>tr>th {
  background-color: white;
  color: #202020;
  font-size: 1.19rem;
}

.transparent-dark {
  background-color: rgba(31, 35, 38, 0.7);
}

.blur-10 {
  backdrop-filter: blur(10px);
}

.table-striped>tbody>tr:nth-of-type(odd)>td {
  background-color: #191F24;
  color: white;
}

.table-striped>tbody>tr:nth-of-type(even)>td {
  background-color: #191F24;
  color: white;
}

.card-body {
  background-color: #202020;
  border-radius: 1rem;
  border-color: white;
}

.btn {
  font-size: 1.13rem;
  font-weight: 450;
  border-width: 2px;
}

.molnames-in-table,
.molformulas-in-table,
.names-in-scenes,
.desc-in-scenes {
  text-decoration: none;
  font-size: 1.19rem;
}

.molnames-in-table:hover,
.names-in-scenes:hover {
  text-decoration: underline rgb(0, 208, 255);
}

.modelname-in-table,
.modelname-in-table:hover,
.modeldesc-in-table,
.modeldesc-in-table:hover {
  text-decoration: none;
  color: white;
  font-size: 1.19rem; 
}

.modelfiles-in-table {
  font-size: 1.19rem;
  text-decoration: none
}

.modelfiles-in-table:hover {
  text-decoration: underline rgb(0, 208, 255);
}

.nav-link{
  font-size: larger;
}

.options-column {
  width: 170px;
}

.options-column-scenes {
  width: 208px;
}

.about-links {
  color: #21BEF2
}

.main-background-color {
  background-color: #171A1F;
}

.molnames-in-table,
.modelfiles-in-table,
.names-in-scenes {
  text-decoration: underline rgb(0, 208, 255);
}

@media screen and (max-width:600px ) {
  .btn {
    font-size: 0.81rem;
    font-weight: 350;
    border-width: 1.5px;
  }

  .molformulas-in-table,
  .desc-in-scenes,
  .molnames-in-table,
  .modelfiles-in-table,
  .names-in-scenes,
  .modelname-in-table,
  .modelname-in-table:hover,
  .modeldesc-in-table,
  .modeldesc-in-table:hover {
    font-size: 0.94rem;
    word-break: break-all;
  }

  .molformulas-in-table,
  .desc-in-scenes,
  .modelname-in-table,
  .modelname-in-table:hover,
  .modeldesc-in-table,
  .modeldesc-in-table:hover {
    text-decoration: none;
  }

  .modelname-in-table,
  .modelname-in-table:hover,
  .modeldesc-in-table,
  .modeldesc-in-table:hover {
    color: white;
  }

  .molnames-in-table-head {
    max-width: 120px;
  }
  
  .modelfiles-in-table {
    font-size: 0.94rem;
    word-break: break-all;
  }
  
  .nav-link{
    font-size: larger;
  }
  
  .options-column {
    max-width: 65px;
  }
  
  .options-column-scenes {
    max-width: 103px;
  }

  .footer-text {
    font-size: 0.75rem;
  }

  .table-striped>thead>tr>th {
    font-size: 1rem;
  }

  .moltable-header,
  .modeltable-header {
    word-break: break-all;
  }

  .table-striped>tbody>tr:nth-of-type(odd)>td,
  .table-striped>tbody>tr:nth-of-type(even)>td {
    word-break: break-all;
  }
}